.bank-account-info {
    width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .account-container {
    background-color: white;
    /* background-color: #dcbfff; */
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
  }
  
  .account-container:hover {
    transform: scale(1.02); 
    background-color: #f0f0f0;
  }
  
  .transaction-history ul {
    list-style: none;
    padding: 0;
  }
  
  .transaction-history li {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
  }
  
  .add-transaction input {
    margin: 5px 0;
    padding: 5px;
  }
  
  .add-transaction button {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
  }
  
  .add-transaction button:hover {
    background-color: #0056b3;
  }